include template/master
.container.mt-5
    .row
        .col-2
        .col-8
            each value in items
                .row.mb-3.policies
                    .col-10
                        span() Poliza ##{value}
                    .col-2
                        a(href="/polizas/" + value)
                            button.btn Ver

style.
    .btn {
        font-size: 18px;
    }
    .policies {
        border-bottom: 2px solid grey;
    }

    .policies span {
        font-size: 33px;
    }
